body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-header {
    text-align: center;
}

.search-title {
    font-family:Calibri;
    font-size:xx-large;
    text-align:center;
    margin-top:1em
}

.search-destination {
    margin: 0 auto;
    margin-top: 1em;
    min-height: 60px;
    min-width: 400px
}

.search-button {
    display: flex;
    margin: 0 auto;
    margin-top: 2em
}

.search-table {
    margin-top:3em;
    max-width: 100%;
    text-align: left
}

.search-error {
    margin-top: 3em;
    font-size: x-large;
    text-align: center;
}

.departure-prompt {
    font-size: small;
}

.departure-address {
    font-size: large;
    text-align: center;
}

.departure-error {
    margin-top: 3em;
    font-size: x-large;
    text-align: center;
}

.departure-input {
    margin: 0 auto;
    margin-top: 1em;
    min-height: 60px;
    min-width: 400px
}

.journey-header {
    text-align: left;
}

.journeys-title {
    font-family: Calibri;
    font-size: xx-large;
    text-align: left;
    margin-top: 1em
}

.journey-table {
    text-align: left;
}

.journey-table-scroll {
    width: 100%;
    overflow: auto;
    max-height: 330px
}

.journey-control-form {
    font-size: large;
    margin: 1em
}

.journey-testing {
    margin: 0 auto;
    margin: 1em;
    text-align: left
}

.journey-testing-row {
    margin-bottom: 0.5em;
}


span.twitter-typeahead {
    width: 400px
}
