<div class="jumbotron">
    <h1><img style="max-width:75px; margin-top: -4px; margin-right: 10px; float:left;" src="~/Content/Images/bushop-logo.png">Bus Hop</h1>
    <p class="lead" style="font-style:italic">Keeping commuters on the move >></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Bus Hop is a GPS tracking solution for Public Transport Victoria bus service
            providers and commuters. We set about changing things for the better. We're a believer in using Bus Hop
            technology to improve customer experience so we created an application that updates the
            customer with schedules and delays. This application helps the user to take back control,
            and with the system that offers versatility, transparancy and efficiency. Users can search for
            bus stops via suburbs or names.
            <i><u>Develop a commercial relationship with this transport application and enjoy the services.</u></i>
        </p>
    </div>


    <div class="col-md-6">
        <h2>API</h2>
        <p>
            Bus Hop offers a public API for B2B system integration and client application
            development.
        </p>
        <p><a class="btn btn-default" href="../Help">Learn more &raquo;</a></p>
    </div>

</div>