@model  BusTrackerWeb.Models.JourneyDashboardModel


<div class="panel panel-default">
    <div class="panel-heading" style="text-align:left">
        <h3 class="panel-title">Journey Dashboard</h3>
    </div>

    <table id="scheduleTable" class="table table-borderless journey-table" style="border:none">
        <tr>
            <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;Your Closest Stop:</td>
            <td>@Html.DisplayFor(modelItem => Model.UserStop.StopName)</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Start Walking to Stop: </td>
            <td>@Html.DisplayFor(modelItem => Model.WalkingDepartureMinutes)</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Bus Departs Stop: </td>
            <td>@Html.DisplayFor(modelItem => Model.BusDepartureMinutes)</td>
        </tr>
    </table>

</div>





